* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App_cont {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App_child {
  /* border: 2px solid green; */
  width: 100%;
  max-width: 98%;
}
